<body onload="CheckIfADA()">
  <div class="scholarship">
    <div class="row">
      <div class="col">
        <h1 class="titleee">
          Lambda Chi Alpha Annual Scholarship
        </h1>
        <hr>
        <br>
        <p>
          The Lambda Chi Alpha Annual Freshman Scholarship is given to either a freshman or recent transfer student who demonstrates a commitment to the seven Core Values of that
          fraternity: loyalty, duty, respect, service and stewardship, honor, integrity, and personal courage. The chapter will award at least one $500 or greater scholarship per
          year with additional awards possible for runners up.
        </p>
        <p>
          More information regarding the scholarship for the academic year of 2021-2022 will be available soon!
        </p>
        <br>
        <hr>
      </div>
      <div class="col">
        <p class="scholarrep">
          <img src="../../assets/scholar.png" class="img-fluid scholarImg" alt="group pic">
          Jake Diamond, President - Meschach Melton, scholarship recipient 2020
        </p>
      </div>
    </div>
    <div class="row">

    </div>
  </div>
  </body>
