.about-us {
    padding-top: 8em;
    background-color: #f3ebdc;
    /* height: 90vh; */
    margin: auto;
    padding-bottom: 4em;
}

.history {
    background-color: #F3F3F3;
    padding-bottom: 4em;
    padding-top: 4em;
}

.col-8 {
    /*text-align: center;*/
}

p {
    margin-top: 1em;
    margin-right: 15em;
}

h1 {
    margin: auto;
}

hr {
    max-width: 80%;
    margin-left: 0px;
}

.badgeImg {
    margin: auto;    
    display: block;
    width: 15vw;
}
.oldImg {
    width: 50vw;
    margin: auto;    
    display: block;
}