.about-us {
    padding-top: 8em;
    background-color: #f3ebdc;
    /* height: 90vh; */
    margin: auto;
}

.col-8 {
    /*text-align: center;*/
}

p {
    margin-top: 1em;
    margin-right: 15em;
}

img {
    margin: auto;    
    display: block;
}