<div class="about-us">
    <div class="row">
        <div class="col-4">
            <img src="../../assets/badge.png" class="img-fluid badgeImg" alt="group pic">
        </div>
        <div class="col-8">
            <h1>About Lambda Chi Alpha</h1>
            <h3>Iota Sigma Zeta</h3>
            <p>
                Lambda Chi Alpha was founded in 1909 by <b>Warren A. Cole</b> at Boston University. Today, it is the third largest men’s general fraternity in North America with more than <b>270,000 initiated members</b> and has held chapters at more than 300 universities.
            </p>
            <p>
                <b>We were the first Fraternity to abolish pledging.</b> We continue to to fight against alcohol abuse, hazing, and other issues and stereotypes facing the Fraternity and Sorority Life Community and college students in general. Lambda Chi Alpha offers college students a unique opportunities to excel in areas such as academics, service, leadership practice, social skills, and true sense of brotherhood.
            </p>
            <p>
                <b>Our Associate Member Program</b> is a unique fraternity education program. When we abolished pledging, we replaced it with the associate member program. When a Potential New Member turns in his bid, and after the Associate Member Ceremony, the “AM” has the full rights of an initiated brother. When the “AM” class goes through their education process, initiated brothers go through it as well. Associate members are even able to hold officer positions!    
            </p>
            <p>
                The Lambda Chi Alpha main page can be accessed by 
                <a href="https://www.lambdachi.org/">clicking here</a>
            </p>   
        </div>
    </div>
    <br>
    <div class="row">
        <img src="../../assets/biggroup.PNG" class="img-fluid oldImg" alt="group pic">
    </div>
    <br> 

</div>
<div class="history">
    <div class="row">
        <h1>History</h1>
    </div>
    <div class="row">
        
    </div>
</div>
