
<div class="lambda-nav">
    <nav class="navbar navbar-expand-sm">

      <a class="navbar-brand" href="#"><img src="..\assets\Conglo.png" alt="Logo"></a>        
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
            <p class = "links">
                <div class="dropdown">
                    <button class="dropbtn">Our Chapter</button>
                    <div class="dropdown-content">
                        <a class="tlink" routerLink="/philanthropy">Philanthropy </a>
                        <a class="tlink" routerLink="/about-us">About Us </a> 
                        <a class="tlink" routerLink="/brothers">Brothers </a> 
                        <a class="tlink" routerLink="/gallery">Gallery </a>
                        <a class="tlink" routerLink="/scholarship">Scholarship </a>
                    </div>
                </div>
                
                <div class="dropdown">
                  <button class="dropbtn" routerLink="/interest">Join our Brotherhood</button>
                  <!--<a class="tlink" routerLink="/scholarship">Scholarship </a> -->
                </div>



    <div class="dropdown">
      <button class="dropbtn"> Stay Connected</button>
      <div class="dropdown-content">
        <a class="tlink" routerLink="/newsletter">Newsletter </a>
        <a class="tlink" routerLink="/donations">Donations </a>
      </div>
    </div>
  </div>
</nav>
</div>

