.lambda-nav {
    background-color: #F3F3F3;
}

a {
    color: #15002B;
}
.navbar-nav > .active > a {
    color: #ED7C0E;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: auto;
    padding: 1px;
    width: 20%;
}