.lambda-nav {
  background-color: #FFF;
  box-shadow: 5px 0px 24px 8px rgb(9, 22, 6, .5);

}
h1 {
    font-size: 10px;
}
a {
    color: #15002B;
}
.navbar-nav > .active > a {
    color: #ED7C0E;
    font-weight: bold;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand>img {
    height: auto;
    padding: 1px;
    width: 20%;

}
