<head>
	<title>Page Title</title>
	<script src='../fullcalendar/core/main.js'></script>
	</head>

	<!--  Full Calendar npm installations
		npm install 
	@fullcalendar/core@5.5.0
	@fullcalendar/interaction@5.5.0
	@fullcalendar/daygrid@5.5.0
	@fullcalendar/timegrid@5.5.0
	@fullcalendar/list@5.5.0	 
	@fullcalendar/google-calendar@5.5.0
 -->
	
	
	
	<body>
	<h1>LCA WebPage</h1>
	<nav>
		<ul class = "a">
			<li><a class="button" routerLink="/home">Home</a></li>
			<li><a class="button" routerLink="/about-us">About Us</a></li>
			<li><a class="button" routerLink="/gallery">Gallery</a></li>
			<li><a class="button" routerLink="/newsletter">Newsletter</a></li>
			<li><a class="button" routerLink="/donations">Donations</a></li>
			<li><a class="button" routerLink="/scholarship">Scholarship</a></li>
			<li><a class="button" routerLink="/interest">Interested</a></li>
			<li><a class="button" routerLink="/philanthropy">Philanthropy</a></li>
			<li><a class="button" routerLink="/brothers">Brothers</a></li>
		</ul>
	</nav>
	
	<!-- Calendar -->
	<full-calendar [options]="calendarOptions"></full-calendar>
	
	<!-- <div id='calendar'></div>
	
	<br> -->
	
	<!-- Router-outlit is the view (each view has its own html in the app folder) !-->
	<router-outlet></router-outlet>
	
	<div class="footer">
	  <a href="https://www.instagram.com/valpolambdachi/" target="_blank"> <img src="https://love2dev.com/img/2000px-instagram_logo_2016svg-2000x2000.png" alt="Instagram" style="width:42px;height:42px;"></a>
	</div>
	</body>