ul.a {
  list-style-position: inside;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

body {
  margin-left: 100px;
  margin-right: 100px;
}

.calendar {
  margin-left: 300px;
  margin-right: 500px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0;
  text-decoration-color: green;
}

.fc .fc-button-primary {
  background-color: #ffffff;
}