<body onload="CheckIfADA()">
	<div class="modal fade" id="interest-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Interest Form</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="https://formcarry.com/s/87xtJtW3if5" method="POST" accept-charset="UTF-8" >

						<div class="form-group">

							<label class="col-form-label">Name</label>
							<input type="text" name="_name" class="form-control" placeholder="First and Last">

							<label class="col-form-label">Email Address</label>
							<input type="email" name="_replyto" class="form-control" placeholder="Your email">

							<label class="col-form-label">What interests do you have regarding Lambda Chi?</label>
							<textarea type="text" rows="5" name="_message" class="form-control" placeholder="Your message"></textarea>

							<input type="hidden" name="_subject" id="email-subject" value="LCA interest from website">
							<input type="hidden" name="_gotcha">

						</div>
						<div class="modal-footer">
							<a>We will reach out soon!</a>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" data-dismiss="modal" class="btn btn-primary">Send</button>
						</div> 
					</form>
					
				</div>
			</div>
		</div>
	</div>
	</body>
