<div class="modal fade" id="interest-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Interest Form</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="https://formspree.io/f/mbjqdrvy" method="POST">
			  <div class="form-group">
			    <label for="sender-name" class="col-form-label">First & Last Name:</label>
			    <input type="text" name="_replyto" class="form-control" id="sender-name">
			  </div>
			  <div class="form-group">
                <label for="email-address" class="col-form-label">Email Address:</label>
                <input type="text" name="email" class="form-control" id="email-address">
              </div>
              <div class="form-group">
                <label for="phone-number" class="col-form-label">Phone Number:</label>
                <input type="text" name="phone" class="form-control" id="phone-number">
              </div>
              <div class="form-group">
                <label for="interest-message" class="col-form-label">What interests do you have regarding Lambda Chi?</label>
                <input type="text" name="message" class="form-control" id="interest-message">
              </div>
              <div class="modal-footer">
                <a>We will reach out soon!</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
		  </form>
          
		</div>
	  </div>
	</div>
</div>