<body onload="CheckIfADA()">
  <div class="container-fluid">
    <div class="philanthropy">

        <div class="row">
            <img src="../../assets/feed.png" class="img-fluid feedImg" alt="group pic">
            <p>Feeding America is the nation’s largest domestic hunger-relief organization—a powerful and efficient network of 200 food banks across the country. As food insecurity rates hold steady at the highest levels ever, the Feeding America network of food banks has risen to meet the need. It feeds 40 million people at risk of hunger, including 12 million children and 7 million seniors.
            </p>
        </div>

        <br>
        <div class="row">
            <img src="../../assets/bald.png" class="img-fluid rainnImg" alt="group pic">
        </div>

        <div class="row">
                <p>
                    <img src="../../assets/baldgroup.jpg" align="right" class="img-fluid baldgroupImg" alt="group pic">
                    The St. Baldrick’s Foundation is a volunteer and donor powered charity committed to supporting the most promising research to find cures for childhood cancers and give survivors long and healthy lives.
                </p>
        </div>

        <div class="row">
            <img src="../../assets/rainn.png" class="img-fluid rainnImg" alt="group pic">
        </div>
        
        <div class="row">
                <p>
                    <img src="../../assets/rainpic.jpg" align="left" class="img-fluid rainpicImg" alt="group pic">
                    RAINN (Rape, Abuse & Incest National Network) is the nation's largest anti-sexual violence organization. RAINN created and operates the National Sexual Assault Hotline in partnership with more than 1,000 local sexual assault service providers across the country and operates the DoD Safe Helpline for the Department of Defense. RAINN also carries out programs to prevent sexual violence, help survivors, and ensure that perpetrators are brought to justice.
                </p>
           
            
        </div>
        
    </div>
  </div>
  </body>
