table {
  background-color: #f3ebdc;
  text-align: center;
  margin: auto;
  color: #000;
  
}
  table tr:not(:first-child) {
    border-bottom-style: solid;
    border-bottom-color: #000;
    border-bottom-width: 1px;
    font-size:2vw;
  }
  table tr th {
    min-width: 2vw;
  }

  
@font-face {
  font-family: interreg;
  src: url(Inter-Regular.ttf);
}

@font-face {
  font-family: interbold;
  src: url(Inter-Bold.ttf);
}

table tr th.Pict img{
    max-width: 200px;
    max-height: 275px;
}
table tr th.Name {
    background-color: #f3ebdc;
  }
  table tr th.Major {
    background-color: #f3ebdc;
  }
  table tr th.Year {
    background-color: #f3ebdc;
  }

  .title {
    background-color: #ffffff;

  }

  
