.tablee {
  background-color: #f3ebdc;
  text-align: center;
  margin: auto;
  color: #046b37;
  font-family: interbold;
  font-size: 2vw;
  border-color: #046b37;
  border-style: solid;
  border-width: 3px;
  font-size: 2vw;
}
table tr{
  border-style: solid;
  border-width: 3px;
  font-size: 2vw;
}
  table tr th {
    min-width: 10vw;
  }

  .titlecol{
    border-style: solid;
    border-color: #046b37;
    border-width: 3px;
  }
  
@font-face {
  font-family: interreg;
  src: url(Inter-Regular.ttf);
}

@font-face {
  font-family: interbold;
  src: url(Inter-Bold.ttf);
}

table tr th.Pict img{
    width: 10vw;
}
.Name {
  background-color: #f3ebdc;
  font-size: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
table tr th.isnum {
  background-color: #f3ebdc;
  font-size: 2vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
  table tr th.Major {
    background-color: #f3ebdc;
    font-size:2vw;
    font-family:interreg;
    padding-left:1vw;
    padding-right:1vw;
  }
  table tr th.Year {
    background-color: #f3ebdc;
    font-size:2vw;
    font-family:interreg;
    padding-left:1vw;
    padding-right:1vw;
  }
.h3{
  font-size:2vh;
}
