table {
  background-color: #f3ebdc;
  text-align: center;
  margin: auto;
  color: #046b37;
  font-family:interbold;
  font-size:2vw;
}
  table tr:not(:first-child) {
    border-bottom-style: solid;
    border-bottom-color: #046b37;
    border-bottom-width: 1px;
    font-size:2vw;
  }
  table tr th {
    min-width: 2vw;
  }

table tr th.Pict img{
    height: 15vh;
}
table tr th.Name {
    background-color: #f3ebdc;
    font-size:2vw;
    
  }
  table tr th.Major {
    background-color: #f3ebdc;
    font-size:2vw;
    font-family:interreg;
  }
  table tr th.Year {
    background-color: #f3ebdc;
    font-size:2vw;
    font-family:interreg;
  }
.h3{
  font-size:2vh;
}