<br>
<table>
	<tr>
		<th class="title"></th>
		<th class="title">Name</th>
		<th class="title">Iota-Sigma #</th>
		<th class="title">Major</th>
		<th class="title">Year</th>
	</tr>
	<tr *ngFor="let brother of brothers; let i = index" class="all">
		<th class="Pict"><img src = "{{brother.url}}"/></th>
		<th class="Name"> <h3>{{brother.name}}</h3></th>
		<th class="isnum"> <h3>{{brother.isnum}}</h3></th>
		<th class="Major"> {{brother.majors}} </th><!--MAJOR-->
		<th class="Year">Class of {{brother.year}}</th>
	</tr>
</table>

