<fieldset>
	<div>
		<label for = "title">Title</label>
		<input
			type = "text"
			class = "form-control"
			id = "title"
			[(ngModel)] = "blogpost.title"
			name = "title"
		/>
		<label for = "body">Body</label>
		<input
			type = "text"
			class = "form-control"
			id = "body"
			[(ngModel)] = "blogpost.body"
			name = "body"
		/>
		<label for = "date">Date</label>
		<input
			type = "text"
			class = "form-control"
			id = "date"
			[(ngModel)] = "blogpost.date"
			name = "date"
		/>
		<button (click) = "saveBlogpost()">Submit</button>
	</div>

	<ul>
		<div *ngFor = "let blogpost of blogposts">
			<div>
				<h5>{{blogpost.title}}</h5>
				<p>{{blogpost.body}}</p>
				<sub>{{blogpost.date}}</sub>
			</div>
		</div>
	</ul>
</fieldset>

<fieldset>
	<legend>
		<button type="button" class="add"> Edit </button>
		<button type="button" class="add"> Remove </button>
	</legend>
	<div>
		<h1>Title</h1>
		<p>Hi</p>
	</div>
</fieldset>