button.add {
	background-color: white;
  color: black;
  border: 2px solid #4CAF50; /* Green */
}

.container-fluid {
  padding-top: 8em;
  width: 100%;
}

.studImg {
  width: 50em;
  margin: auto;    
  display: block;
}

.coatImg {
  width: 30em;
  margin: auto;    
  display: block;
}

.welcome h1 {
  color: #093D20;
}

.welcome {
  margin-top: 2em;
  padding-top: 2em;
  background-color: #f3ebdc;
  text-align: center;
  height: 100vh;
}

.welcome img {
  padding-top: 2em;
  width: 30em;
}

.welcome p {
  width: 50%;
  margin: auto;
  text-align: center;
}

.activities {
  background-color: #F3F3F3;
  padding-top: 2em;
  text-align: center;
  height: auto;
}

.activities h1 {
  color: #093D20;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px dotted;
}
ul {
    background-color: #F3F3F3;
}

div.blogarea {
  max-width: 50%;
  border: 1px solid black;
  padding: 10px;
  background-color: #f3ebdc;
  margin: auto;
  margin-top: 20px;
  text-align: right;
}

h5 {
  text-align: left;
  font-size: 25px;
  padding-left: 2%;
}

p {
  text-align: left;
  font-size: 15px;
  padding-left: 3%;
  padding-right: 3%
}

sub {
  color: B7B7B7;
  opacity: .5;
  font-size: 75%;
}
