<fieldset>
	<div>
		<label for = "title">Title</label>
		<input
			type = "text"
			class = "form-control"
			id = "title"
			[(ngModel)] = "blogpost.title"
			name = "title"
		/>
		<label for = "body">Body</label>
		<input
			type = "text"
			class = "form-control"
			id = "body"
			[(ngModel)] = "blogpost.body"
			name = "body"
		/>
		<label for = "date">Date</label>
		<input
			type = "text"
			class = "form-control"
			id = "date"
			[(ngModel)] = "blogpost.date"
			name = "date"
		/>
		<button (click) = "saveBlogpost()">Submit</button>
	</div>

	<ul>
		<div *ngFor = "let blogpost of blogposts">
			<div>
				<h5>{{blogpost.title}}</h5>
				<p>{{blogpost.body}}</p>
				<sub>{{blogpost.date}}</sub>
			</div>
		</div>
	</ul>
</fieldset>

<style>
  .Post {
    width: 50%;
    min-height: 300px;
    font-family: Inter;
    background: rgba(211,211,211, 0.3);
    margin-bottom: 2%;
  }

  .Title {
    text-decoration-color: black;
    padding-left: 2%;
  }

  .PostBody {
    padding-left: 1%;
		padding-right: 1%
  }

  .PostImage {
    float: left;
    max-width: 200px;
    max-height: 200px;
    height: auto;
    padding-left: 1%;
    padding-right: 1%;
  }

  .Date {
    text-align: right;
    padding-right: 2%;
    padding-bottom: 2%;
    color: black;
    font-size: 75%;
  }
  hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
  }
  .TitleUnderline {
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
    border: none;
  }

</style>
<div class="AllPost">
	<div class="Post">
		<h1 class="Title">LCA and SLG play among us</h1>
		<p class="PostBody">&emsp;LCA and SLG hosted an among us unity event... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		<p class="Date">3-1-2021</p>
	</div>

	<div class="Post">
		<h1 class="Title">LCA and SLG play among us</h1>
		<img class="PostImage" src="https://www.valpo.edu/computing-information-sciences/files/2015/02/20150204-JLH-Nick-Rosasco-004.jpg" alt="alternatetext">
		<p class="PostBody">&emsp;LCA and SLG hosted an among us unity event... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

		<p class="Date">3-1-2021</p>
	</div>
	<div class="Post">
		<h1 class="Title">LCA and SLG play among us</h1>
		<img class="PostImage" src="https://www.freecodecamp.org/news/content/images/size/w2000/2020/04/w-qjCHPZbeXCQ-unsplash.jpg">
		<p class="PostBody">&emsp;LCA and SLG hosted an among us unity event... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
	
		<p class="Date">3-1-2021</p>
	</div>
	<div class="Post">
		<h1 class="Title">LCA and SLG play among us</h1>
		<img class="PostImage" src="https://www.valpo.edu/computing-information-sciences/files/2015/02/20150204-JLH-Nick-Rosasco-004.jpg" alt="alternatetext">
		<p class="PostBody">&emsp;LCA and SLG hosted an among us unity event... Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magnrum</p>
		
		<p class="Date">3-1-2021</p>
	</div>
</div>
