<header class="page-header header container-fluid">
	<div class="overlay"></div>
	<a id="navdown" href="#divider" class="btn btn-outline-light" role="button" aria-pressed="true">Learn More</a>
</header>
<div class="divider" id="divider">

</div>
<body onload="CheckIfADA()">
	<div class="welcome" id="welcome">
		<h1 class="welcomee">Welcome to</h1>
		<h1 class="welcomee">Lambda Chi Alpha</h1>
		<h3>Iota Sigma Zeta</h3>
		<br>
		<p>
			A man reaches new heights when he realizes the best version of himself. Whether you’re a potential member, an active Brother or an alumnus, you have a remarkable opportunity to shape the future as part of a lasting brotherhood. You have a mark to make. Let’s make it last.
		</p>
		<br>
		<p>
			There’s no better way to make the most of your college experience—and beyond—than through brotherhood in Lambda Chi Alpha. Like many great brothers before you, it’s your time to have the courage to become the man you’ve always known you could be. Write your story of honor. Your story of integrity. Your story of legacy.
		</p>
		<img src="../../assets/sheesh.jpg" class="img-fluid sheeshImg" alt="group pic">
		<br>
		<br>
		<h5>
			Interested in learning more about Lambda Chi Alpha? Click
			<a href="#interest-form" data-toggle="modal" data-target="#interest-form">here.</a>
		</h5>
	</div>
	<app-interest></app-interest>
	<div class="activities">
		<h1 class="testtt">Chapter Updates</h1>
		<div class="row">
			<div class="col-8">
				<ul class="blogareaa">
					<br />
					<div class="blogarea" *ngFor="let blogpost of blogposts; let i = index">
						<h5>{{blogpost.title}}</h5>
						<p>{{blogpost.body}}</p>
						<sub>{{blogpost.date}}</sub>

						<!-- Edit form -->
						<div *ngIf = "i == indexSelected">
							<input placeholder="Title" [(ngModel)] = "selectedBlogpost.title" />
							<br>
							<textarea placeholder="Body" [(ngModel)] = "selectedBlogpost.body" ></textarea>
							<br>
							<input placeholder="Date" [(ngModel)] = "selectedBlogpost.date" />
							<br>
							<button  (click) = "closeEditForm()">Cancel</button>
							<button  (click) = "updateBlogpost(selectedBlogpost.key!)">Save</button>

						</div>
					
						<!-- Edit Form Save/Cancel Buttons-->
						<div *ngIf="signedIn=='true'">
							<button (click) = "deleteBlogpost(blogpost.key!)"><i class="fas fa-trash"></i></button>
							<button (click) = openEditForm(i)><i class="fas fa-pen"></i></button>
						</div>

					</div>
					<br />
				</ul>
			</div>
			<div class="col-4">
				<div class="calendar">
					<full-calendar [options]="calendarOptions"></full-calendar>
				</div>
			</div>
		</div>
	</div>
	</body>

