<body onload="CheckIfADA()">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-4">
        <img src="../../assets/coat.png" class="img-fluid coatImg" alt="Logo">
      </div>
      <div class="col-sm-8">
        <h1 class="titleee">Who are we?</h1>
        <hr>
        <p>
          We see ourselves capable of accomplishing great things and becoming better people than we ever thought we could on our own through the teachings of Lambda Chi Alpha and the friendships that we build with each other. We strive to <b>develop</b> ourselves, <b>improve</b> our communities, and to <b>become more</b> of a brother towards one another.
        </p>
        <p>
          We are all individuals with different <b>personalities</b>, different <b>views</b>, and different <b>backgrounds</b>, but we have that something in common that cannot be explained and no one can understand from the outside. We see each other as an extension of our <b>family</b> that we can count on for anything. Whether a brother is discovering their strengths, struggling in class, or has lost a loved one; we believe that it is our duty to help them through their darkest times and be there for their brightest moments.
        </p>
        <p>
          This <b>bond</b> extends beyond our local chapter and time in college to the world where we can have a conversation with a brother that attended a university on the other side of the country, or even Canada, like close friends. Reason being that we believe in the same core values, have taken the same oaths, and share a mutual connection as brothers.
        </p>
        <h6>
          Interested in learning more about Lambda Chi Alpha? Click
          <a href="#interest-form" data-toggle="modal" data-target="#interest-form">here.</a>
        </h6>
      </div>
    </div>
  </div>
  <app-interest></app-interest>
  <div class="bro-list">
    <app-brothers-list></app-brothers-list>
  </div>
</body>

<!-- 
<fieldset>
	<legend>
		<button type="button" class="add"> Edit </button>
		<button type="button" class="add"> Remove </button>
	</legend>
</fieldset> -->
