button.add {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px dotted;
}