button.add {
	background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
}

fieldset {
  display: block;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px dotted;
}

img {
  width: 50%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.container-fluid {
  padding-top: 8em;
  background-color: #f3ebdc;
}

p {
  margin-right: 20%;
}

.bro-list {
  background-color: #F3F3F3;
  padding-bottom: 4em;
}

hr {
  max-width: 75%;
  margin-left: 0px;
}