button.add {
	background-color: white;
    color: black;
    border: 2px solid #093d20; /* Green */
    font-family:interreg;
}

fieldset {
  display: block;
  text-align: center;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 1px dotted;
}

.bro-list{
  background-color:white;
}

@font-face {
  font-family: interreg;
  src: url(Inter-Regular.ttf);
}

@font-face {
  font-family: interbold;
  src: url(Inter-Bold.ttf);
}

img {
  width: 50%;
  margin-left: 20%;
  margin-bottom: 10%;
}

.container-fluid {
  padding-top: 8em;
  background-color: #f3ebdc;
  color: #093d20;
}

p {
  margin-right: 20%;
  font-family:interreg;
  
}

.h6, h1{
  font-family:interreg;
  color:#093d20;
}

hr {
  max-width: 75%;
  margin-left: 0px;
}
